<!DOCTYPE html>
<html ng-app="kanban">
  <head>
    <title>かんばん</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <style>
      .category {
        height: 400px;
        border: 1px solid black;
      }
      .no-bot-padding {
        margin-bottom: 0px;
      }
      .dropdown-icons {
        min-width: 0px;
      }
    </style>
  </head>
  <body ng-controller="TaskController as tc">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">かんばん</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click="exportJson()"><span class="glyphicon glyphicon-export"></span></a></li>
          <li><a href="#"><span class="glyphicon glyphicon-cog"></span></a></li>
        </ul>
        <form class="navbar-form navbar-right" role="form" ng-submit="addNewTask()">
          <div class="form-group">
            <input type="text" ng-model="newTask" placeholder="Task">
            <button type="submit">Add</button>
          </div>
        </form>
      </div>
    </nav>
    <div class="col-md-3" ng-repeat="category in categories">
      <div class="panel panel-default" data-drop="true" jqyoui-droppable="{onDrop: 'toggleState(category)'}" ng-model="toggler">
        <h3 class="panel-heading panel-title">{{category.category}}<span ng-show="category.max !== -1" class="badge pull-right">{{category.max}}</span><a class="pull-right" ng-show="category.state === 'done'" ng-click="archiveTasks()"><span class="glyphicon glyphicon-fire"></span></a></h3>
        <div class="panel-body">
          <ul class="list-group no-bot-padding">
            <li ng-class="category.class" class="list-group-item" ng-repeat="task in tasks | filter:{state:category.state}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable ng-model="task">
              <span id="{{category.state}}_{{$index}}_text" ng-click="edit(category.state, $index)">
                {{task.task}}
              </span>
              <input id="{{category.state}}_{{$index}}_input" class="hidden" type="text" ng-model="task.task" ng-keyup="inputHandler($event, category.state, $index)">
              <span class="pull-right">
                <button class="close dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-icons" role="menu">
                  <li><a href="#" ng-click="garbage(task)"><span class="glyphicon glyphicon-trash"></span></a></li>
                </ul>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-dragdrop.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
